*, *::after, *::before {
    box-sizing: border-box;
}

body {
    background: #fff;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    background: #f4f4f4;
    padding-top: 14px;
    padding-bottom: 14px;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 99;
}

.container {
    max-width: 1107px;
    margin: auto;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 16px;
    font-weight: 700;
    color: #95989a;
}

.nav {
    flex-basis: 80%;
}

.nav__link {
    font-size: 12px;
    color: #95989a;
    text-decoration: none;
    margin-right: 20px;
    color: #95989a;
}

.nav__link:hover {
    color: #000000;
}

.login {
    font-size: 12px;
    color: #95989a;
    text-decoration: none;
    margin-right: 20px;
    text-transform: uppercase;
}

.login:hover {
    color: #000000;
    font-weight: bold;
}

.tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 20px;
    margin-top: 60px;
}

.tabs-logo {
    font-size: 20px;
    color: #95989a;
}

.tabs-menu {
    list-style: none;
    padding: 0;
    display: flex;
}

.tabs-menu__item {
    margin-left: 15px;
    cursor: pointer;
    position: relative;
}

.tabs-menu__item::after {
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background: #fcde29;
    position: absolute;
    bottom: -20px;
    left: 0;
    transition: width 0.2s;
}

.tabs-menu__item:hover::after {
    width: 100%;
}

.tabs-content {
    background: #f2f4ff url('https://i.imgur.com/iBd59zk.png') no-repeat bottom right 135px;
    border-radius: 10px;
    padding: 40px 45px 43px;
    margin-bottom: 65px;
}

.tabs-content__title {
    font-size: 36px;
    margin: 0;
}

.tabs-content__text {
    font-size: 18px;
    max-width: 318px;
    margin-bottom: 90px;
}

.button {
    border-radius: 6px;
    background-color: #fcde29;
    padding: 16px 33px;
    font-size: 16px;
    font-weight: 700;
    border: none;
}

.button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.section-title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.card {
    background-color: #f2f4ff;
    padding: 23px;
    border-radius: 10px;
}

.card__text {
    max-width: 490px;
    font-size: 16px;
}

.card_bottom {
    background: #f2f4ff url("https://i.imgur.com/iFdkIbF.png") no-repeat center right 80px;
    margin-bottom: 40px;
}

.section__card {
    margin-bottom: 40px;
    margin-right: 50px;
}

.section__card:last-child {
    margin-right: 0;
}

.card-wrap {
    display: flex;
    justify-content: space-between;
}

.section-subtitle {
    display: block;
    text-align: center;
    font-size: 16px;
    margin-bottom: 32px;
}

.best-title {
    margin-bottom: 10px;
}

.best-card {
    width: 240px;
    height: 260px;
    padding: 0;
    position: relative;
}

.best-card__image {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.best-card__image_left {
    left: 0;
    transform: translateX(0);
}

.best-card__image_right {
    background: #f2f4ff url('https://i.imgur.com/Qs5ytIv.png') no-repeat bottom right;
}

.best-card__image_center {
    background: #f2f4ff url('https://i.imgur.com/ryvmd6F.png') no-repeat bottom center;
}

.best-card__text {
    max-width: 200px;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

.delivery {
    padding-top: 60px;
    padding-bottom: 100px;
}

.delivery__form {
    margin-top: 60px;
}

.input {
    background-color: #f7f8ff;
    border: 0;
    padding: 20px;
    width: 100%;
    border-radius: 7px;
}

.form {
    max-width: 600px;
    margin: auto;
}

.form__input {
    margin-bottom: 30px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-100 {
    flex-basis: 100%;
}

.col-50 {
    flex-basis: 49%;
}

.button-block {
    display: flex;
    justify-content: flex-end;
}

.footer {
    background-color: #f7f7f7;
    padding: 60px 0;
}

.footer__text {
    text-align: center;
    max-width: 670px;
    margin: auto;
}


@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .best-card {
        width: 200px;
        height: 250px;
        overflow: hidden;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 760px;
    }
    .tabs-content {
        background-size: 200px;
    }
    .card_bottom {
        background-size: contain;
        background-position: center right 0;
    }
    .section__card {
        margin-right: 25px;
    }
    .section__card:nth-child(2) {
        margin-right: 0;
    }
    .section__card:nth-child(3) {
        flex-basis: 100%;
    }
    .card__text {
        max-width: 300px;
    }
    .card-wrap {
        flex-wrap: wrap;
    }
    .card-block {
        flex-basis: 50%;
    }
    .best__card-block {
        margin-bottom: 30px;
    }
    .best-card {
        margin: auto;
    }
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
    .tabs-content {
        background-size: 180px;
        background-position: bottom right 50px;
    }
    .card_bottom {
        background-image: none;
    }
    .section__card {
        margin-right: 0;
        flex-basis: 100%;
    }
}

@media (max-width: 576px) {
    .container {
        width: 95%;
    }
    .nav {
        display: none;
    }
    .tabs-menu__item {
        font-size: 12px;
    }
    .tabs-logo {
        display: none;
    }
    .tabs-content__title {
        font-size: 24px;
    }
    .tabs-content__text {
        font-size: 14px;
        margin-bottom: 30px;
    }
    .tabs-content {
        background-image: none;
    }
    .section-title {
        font-size: 20px;
    }
    .form__input {
        margin-bottom: 15px;
    }
    .row {
        flex-wrap: wrap;
    }
    .col-50 {
        flex-basis: 100%;
    }
    .button-block {
        justify-content: center;
    }
    .delivery__form {
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 90%;
    }
    .tabs-content {
        margin-bottom: 35px;
        padding: 30px;
    }
    .tabs-content__title,
    .tabs-content__text,
    .card__title,
    .card__text {
        text-align: center;
    }
    .section__title {
        margin-bottom: 20px;
    }
    .section__card {
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    .card__title {
        margin: 0;
    }
    .tabs-content {
        display: flex;
        flex-direction: column;
    }
    .button {
        justify-content: center;
    }
    .best-title {
        padding-top: 10px;
    }
    .best-subtitle {
        margin-bottom: 20px;
    }
    .best__card-block {
        margin: auto;
    }
    .best-card__text {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .delivery {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .section-title {
        margin-top: 0;
    }
    .button-block {
        margin-top: 10px;
    }
    .input {
        padding: 15px;
    }
    .footer {
        padding: 30px;
    }
}