body {
  /* Тело сайта */
  margin: 0 auto;
  max-width: 1260px;
}
body a.arrowDown {
  font-size: 30px;
  text-decoration: none;
  color: #fc635e;
  border: 1px solid #fc635e;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
body a.arrowDown:hover {
  background: #fc635e;
  color: white;
}
body a.btn {
  color: #fc635e;
  text-decoration: none;
  font-style: 22px;
  border: 2px solid #fc635e;
  padding: 12px 22px;
  border-radius: 8px;
}
body a.btn:hover {
  background: #fc635e;
  color: white;
}
body .mainText {
  text-align: center;
}
body .mainText h1 {
  text-transform: uppercase;
  font-size: 50px;
  color: white;
}
body .mainText h1 span {
  color: #fc635e;
}
body .mainText p {
  color: white;
  font-style: 22px;
}
body h1.main_header {
  text-decoration: none;
  margin: 0;
  text-transform: uppercase;
  font-size: 40px;
}
body h1.main_header span {
  color: #fc635e;
}
body header {
  background: url('../img/background.png') no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 600px;
  width: 100%;
  max-width: 1260px;
  justify-content: space-around;
}
body header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body header nav > a {
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}
body header nav > a img {
  padding-right: 15px;
  vertical-align: middle;
}
body header nav .logo:hover img {
  opacity: 0.7;
}
body header nav menu {
  list-style: none;
  text-transform: uppercase;
  display: flex;
}
body header nav menu li {
  padding-left: 15px;
}
body header nav menu li a {
  color: white;
  text-decoration: none;
}
body header nav menu li a:hover {
  color: #fc635e;
  border-bottom: 3px solid #fc635e;
  padding-bottom: 5px;
}
body .receive {
  margin-top: 0;
  text-align: center;
  background: white;
  padding: 70px 50px 10px 50px;
  color: #adadad;
}
body .receive p {
  font-size: 22px;
  margin-bottom: 50px;
}
body .icons {
  display: flex;
}
body .icons h3 {
  text-decoration: underline;
  text-transform: uppercase;
}
body .icons p {
  font-style: 18px;
}
body .icons div {
  padding: 15px;
}
body .expand {
  background: url(../img/expand.png) no-repeat;
  padding: 100px 100px 0;
}
body .expand .mainText {
  padding: 50px;
  margin-bottom: 80px;
  border: 10px solid rgba(0, 0, 0, 0.2);
}
body .expand .mainText h1 {
  font-size: 50px;
  margin-bottom: 50px;
}
body .our_process {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 15px;
}
body .our_process .steps {
  display: none;
}
body .our_process h1 {
  text-decoration: underline;
  font-size: 28px;
}
body .our_process h1,
body .our_process p {
  color: #adadad;
}
body .our_process p {
  font-size: 20px;
}
body .our_process .back_process {
  min-height: 500px;
  min-width: auto;
  background: url(../img/Our_process.png) center center no-repeat;
  background-size: contain;
}
body .we_do1,
body .we_do2,
body .we_do3 {
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .we_do1 .container,
body .we_do2 .container,
body .we_do3 .container {
  padding: 135px;
  display: flex;
  justify-content: space-around;
}
body .we_do1 h1,
body .we_do2 h1,
body .we_do3 h1,
body .we_do1 h2,
body .we_do2 h2,
body .we_do3 h2,
body .we_do1 p,
body .we_do2 p,
body .we_do3 p {
  color: #868686;
}
body .we_do1 h2,
body .we_do2 h2,
body .we_do3 h2 {
  text-transform: uppercase;
  border-left: 10px solid #fc635e;
  padding-left: 20px;
  font-size: 28px;
}
body .we_do1 p,
body .we_do2 p,
body .we_do3 p {
  font-size: 15px;
  padding-bottom: 15px;
}
body .we_do1 .left,
body .we_do2 .left,
body .we_do3 .left {
  max-width: 38%;
}
body .we_do1 .right,
body .we_do2 .right,
body .we_do3 .right {
  max-width: 50%;
}
body .we_do2 {
  background: none;
}
body .we_do2 .container {
  text-align: right;
}
body .we_do2 .container .left {
  order: 2;
}
body .we_do2 .container .right {
  order: 1;
}
body .we_do2 .container h2 {
  border-left: none;
  border-right: 10px solid #fc635e;
  padding-left: 0;
  padding-right: 20px;
}
