@media screen and (max-width: 768px) and (min-width: 550px) {
    nav {
        flex-direction: column;
        justify-content: center;
    }
    body .expand {
        padding: 30px 30px 10px;
    }
    body .expand .mainText {
        padding: 50px 0;
        margin-bottom: 20px;
    }
    body .expand .mainText h1 {
        font-size: 30px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 549px) {
    nav {
        padding: 0px 20px;
    }
    menu {
        display: flex;
        flex-direction: column;
    }
    menu li {
        margin-bottom: 10px;
    }
    body header .mainText h1 {
        font-size: 40px;
        margin-top: -20px;
    }
    body header .mainText p {
        font-style: 18px;
        padding-bottom: 20px;
    }
    body .expand {
        padding: 10px;
    }
    body .expand .mainText {
        padding: 30px 0;
        margin-bottom: 20px;
        border: none;
    }
    body .expand .mainText h1 {
        font-size: 25px;
        margin-bottom: 50px;
    }
    body .our_process .steps {
        display: block;
    }
    body .our_process .steps h1 {
        font-size: 20px;
    }
    body .our_process .steps p {
        margin-top: 10px;
    }
    body .our_process .back_process {
        display: none;
    }
}

@media screen and (max-width: 1260px) {
    .receive {
        padding: 30px 20px;
    }
    .receive h1 {
        font-size: 26px;
    }
    .receive p {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .icons {
        flex-wrap: wrap;
        justify-content: center;
    }
    .icons div {
        max-width: 350px;
    }
    .icons div p {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 768px) {
    .we_do1, 
    .we_do2, 
    .we_do3 {
        padding: 5px;
        text-align: center;
    }
    .we_do1 .container, 
    .we_do2 .container, 
    .we_do3 .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .we_do1 .container img,
    .we_do2 .container img, 
    .we_do3 .container img {
        width: 100%;
    }
    .we_do1 .container .right,
    .we_do2 .container .right,
    .we_do3 .container .right {
        order: 1;
        max-width: 100%;
    }
    .we_do1 .container .left,
    .we_do2 .container .left,
    .we_do3 .container .left {
        order: 2;
        max-width: 100%;
        margin-bottom: 30px;
    }
    .we_do1 .container .btn,
    .we_do2 .container .btn,
    .we_do3 .container .btn  {
        margin-bottom: 20px;
    }
}